/* 桌上型CSS */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face
{
	font-family: webfont;
	src: url(../DFLiShuStd-W5.otf);
}
body
{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	background-attachment: fixed;
}

.logo
{
	width:40%;
}

.info
{
	border-top: solid 2px;
	color:#FFFFFF;
	margin-top: 2%;
	padding-top: 2%;
}

.info li
{
	margin: 2% 0;
	font-size: 1.2rem;
}

.info li h1
{
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Gloria Hallelujah', cursive;
}

.info li span
{
	color: #FF0004;
}

html
{
	font-size: 1.2vw;
	font-family: 'Noto Sans TC', sans-serif;
	/*font-family: webfont;*/
}

header
{
	position: fixed;
	right: 2vw;
	bottom: 2vw;
	width: 40vw;/*單位使用百分比也可以*/
	text-align: right;
}

.menu
{
	display: none;
}

.info li:last-child
{
	display: flex;/*讓裡面的子元素a標籤可以左右排列*/
	justify-content: flex-end;
}


.info li:last-child a
{
	width: 3vw;
	height: 3vw;
	display: block;/*讓行內元素a標籤可以設定寬高度,而且不會有間距*/
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
}

.info li:last-child a:nth-child(1)
{
	background-image: url(../images/icon/facebook2.svg);
}

.info li:last-child a:nth-child(2)
{
	background-image: url(../images/icon/instagram2.svg);
}

.info li:last-child a:nth-child(3)
{
	background-image: url(../images/icon/youtube2.svg);
}

.info li:last-child a:nth-child(1):hover
{
	background-image: url(../images/icon/facebook.svg);
}

.info li:last-child a:nth-child(2):hover
{
	background-image: url(../images/icon/instagram.svg);
}

.info li:last-child a:nth-child(3):hover
{
	background-image: url(../images/icon/youtube.svg);
}
.info>li:nth-child(2) a {
	color: white;
	text-decoration: none;
	cursor: wait;
}

/*前面是還沒來上課前的東西，摳老師的*/

/*選單標題*/
.nav>li>span {
	font-size: 2rem;
	font-family: "Product Sans" ;
	border-bottom: solid;
	border-bottom-width:thin;
	display: block;
	width: 50%;
	padding-bottom: 0.5%;
	margin-bottom: 1%;
	padding-left: 0%;
	padding-top: 5%;
}
/*選單*/
.nav {
	width: 30%;
	padding-left: 3%;
	position: relative;
	left: 3rem;
	top: 3rem;
}
/*讓選單對齊*/
.nav>li>ul {
	padding-bottom: 2.5%;
	padding-left: 2%;
}
/*選單內菜單選項連結設定*/
.nav>li:nth-child(2) ul li a {
	color: white;
	text-decoration: none;
	margin: 2rem 0rem;
	font-size: 20px;
	background-image: none;
	background-size: auto 2.5rem;
	transition: all 0.3s;
}
/*按下選項時的效果*/
.nav>li:nth-child(2) ul>li>a:hover/*hover指的是滑鼠滑過時*/ {
	color: whitesmoke;
	text-decoration: none; /*不要有底線*/
	padding: 0px 30px; /*內距先設置好*/
	font-size: 20px;
	background-size: auto 1.8rem; /*背景大小，背景圖片將由以下選項個別設定*/
	background-repeat: no-repeat;
}
.nav>li:nth-child(2) ul>li:nth-child(1)>a:hover /*第一個選項*/{
	background-image: url(../twotone-fastfood-24px.svg); /*選定第一個選項的圖片*/
}
.nav>li:nth-child(2) ul>li:nth-child(2)>a:hover /*第二個選項*/{
	background-image: url(../twotone-free_breakfast-24px.svg); /*選定第二個選項的圖片*/
}
.nav>li:nth-child(2) ul>li:nth-child(3)>a:hover /*第三個選項*/{
	background-image: url(../twotone-local_dining-24px.svg); /*選定第三個選項的圖片*/
}
.nav>li:nth-child(2) ul>li a:hover {
	
	/*這個不知道是什麼*/
}
.nav>li:nth-child(3) ul>li:nth-child(1) {
	display: none; /*隱藏加入好友的選項*/
}
.nav>li:first-child>ul {
	color:azure; 
	line-height: 1.3rem;
}
.nav>li:first-child>ul p {
	margin-bottom: 0.5rem;
	text-align:justify;
}
.e1 { /*可以刪除*/
		color: white;
	transform: all 0.5s;
}
.el:hover { /*可以刪除*/
		color:aqua;
}
.nav>li:nth-child(4) i{ /*隱藏物件*/
display: none;
}
.nav>li:nth-child(2) i { /*隱藏物件*/
		display: none;
}

.navouter .fa-times {
	display: none;
}

/* 額外的東西 */
.othereles li {
	width: 12rem;
	height: 3rem;
	padding: 1rem 0rem 0rem 1rem;
	margin: 1rem 0;
	font-size: 1.5rem;
	color: white;
	position: relative;
	left: 9.4rem;
	transform: all 0.5s;

}
.othereles li:hover {
	left: 0rem;
	cursor: wait;
}
.othereles li:first-child {
	background-color:rgba(95,100,43,0.50)
}
.othereles li:nth-child(2) {
	background-color:rgba(146,102,171,0.50)
}
.othereles li:last-child {
	background-color: rgba(40,88,172,0.48)
}
.othereles img {
	margin-right: 1rem
}
.othereles {
	position: fixed;
	top: 5vh;
	right: 0;
}
.newscont {
		width: 40%;
		margin: 1rem 0;
}
.newscont li{
			width: 40%;
	display: flex;
	color: white;
	margin: 1rem;
	background-color: rgba(40,88,172,0.48);
	padding: 1rem 0rem 1rem 1rem;
	position: fixed;
	top: 0;
	right: -100vw;
}
.newscont li img {
	width: 100%;
}
.newscont div {
	width: 40%;
	margin-right: 1rem;
}