/*something will write here*/
@media (min-width: 992px) {
	nav {
		hight:20rem;
	}
	.navbar-brand {cursor: default;}
	.carousel-inner a {cursor: default;}
	
}
@media (max-width: 992px) {
	nav {
		text-align: center;
	}
}

.cdsc {
	position: fixed;
	width: 100%;
	height: 100vw;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.67);
	z-index: 1030;
	text-align: center;
}